{%  extends 'Postulantes/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>MIS POSTULACIONES</title>
{%  endblock    %}

{%  block link  %}
<li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'BlogsList' %}">Novedades</a></li>
<li class="nav-item"><a class="nav-link-act" href= "#page-top">Mi Perfil</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">MIS POSTULACIONES</div>
<div class="masthead-subheading">aquí puedes ver tus postulaciones</div>
{%  endblock %}


{% block contenido%}

{% for postu in user.postulante_set.all %}

<ul>
        <div class="text-center">

                <br><h4>Puesto:</h4><br>
                <h5>Posición: {{ postulante.requerido.posicion }}</h5>
                <p>Sector: {{ postulante.requerido.sector }}</p>
                <p>Descripción: {{ postulante.requerido.descripcion }}</p>
                <p>Formación requerida: {{ postulante.requerido.formacionReq }}</p>
                <p>Interno de la empresa: {{ postulante.requerido.deLaEmpresa }}</p>
                <p>Propuesta monetaria: {{ postulante.requerido.propMonetaria }}</p>
                <p>Fecha de publicación: {{ postulante.requeridos.fechaPublicacion }}</p>
                <h3>Mi informacion:</h3>
                <p>Formación: {{postu.formacion}}</p>
                <p>Presentación: {{postu.presentacion}}</p>
                <p>Teléfono:{{postu.telefono}}</p>

                <p>
                        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'PostulanteBorrar' postu.id %}">Borrar</a>
                        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'PostulanteEditar' postu.id %}">Editar</a>
                </p><br><hr>
        </div>
</ul>

{% endfor %}

<a style="width: 190px;" class="btn btn-primary btn-xl text-uppercase" href="{% url 'MiPerfil' %}">Volver</a>

{%  endblock %}
