{%  extends 'Postulantes/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>BORRAR POSTULACIÓN</title>
{%  endblock    %}

{%  block link  %}
<li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'BlogsList' %}">Novedades</a></li>
<li class="nav-item"><a class="nav-link-act" href= "#page-top">Mi Perfil</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-subheading">Borrar postulación</div>
{%  endblock %}

{% block contenido%}

<form method="post"> {% csrf_token %}

        <div class="text-center">
                <br><h4> ¿Estas seguro que quiere eliminar su postulación a <b>"{{ object.requerido.posicion }}"</b>? </h4>

                <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Borrar" />
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'MisPostulaciones' user.id%}">Cancelar</a>
        </div>

</form>
{%  endblock %}
