{%  extends 'Postulantes/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>NUEVA POSTULACIÓN</title>
{%  endblock    %}

{%  block link  %}
<li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'BlogsList' %}">Novedades</a></li>
<li class="nav-item"><a class="nav-link-act" href= "#page-top">Mi Perfil</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>
{%  endblock    %}

{% block contenido %}

<form method="POST"> {% csrf_token %}
<ul>

        {{form.as_p}}

        <p>
                <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="CARGAR POSTULANTE"/>
                <a style="width: 190px;" class="btn btn-primary btn-xl text-uppercase" href="javascript:history.back(-1);">Cancelar</a>
        </p>

</ul>

</form>


{% endblock %}