{%  extends 'Requeridos/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>REQUERIDOS</title>
{%  endblock    %}

{%  block link  %}
        <li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Postulantes' %}">Postulantes</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">REQUERIDOS</div>
<div class="masthead-subheading">Realice una búsqueda de personal</div>
{%  endblock %}

{% block contenido%}

<p>POSICIÓN: {{ requeridos.posicion }}</p>
<p>SECTOR: {{ requeridos.sector }}</p>
<p>DESCRIPCIÓN: {{ requeridos.descripcion }}</p>
<p>FORMACIÓN REQUERIDA: {{ requeridos.formacionReq }}</p>
<p>INTERNO DE LA EMPRESA: {{ requeridos.deLaEmpresa }}</p>
<p>PROPUESTA MONETARIA: {{ requeridos.propMonetaria }}</p>
<p>FECHA DE PUBLICACIÓN: {{ requeridos.fechaPublicacion }}</p>

<p>
        <a href="{% url 'Requeridos' %}">Volver</a>
        <a href="{% url 'RequeridosBorrar' requeridos.id %}">Borrar</a>
        <a href="{% url 'RequeridosEditar' requeridos.id %}">Modificar</a>
        <a href="{% url 'PostFormulario' %}">Postularse</a>

</p>

{%  endblock %}
