{%  extends 'Requeridos/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>POSTULANTE</title>
{%  endblock    %}

{%  block link  %}
        <li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'MiPerfil' %}">Mi Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">POSTULANTE</div>
<div class="masthead-subheading">Aquí puede ver el detalle del postulante</div>
{%  endblock %}

{% block contenido %}

        <img src="/media/{{Avatar.imagen }}" alt="Usted puede agregar una foto aquí" height="250">

        <p>Nombre: {{postulante.usuario.first_name}} {{postulante.usuario.last_name}}</p>
        <p>Formación: {{postulante.formacion}}</p>
        <p>Presentación: {{postulante.presentacion}}</p>
        <p>Correo electrónico: {{postulante.usuario.email}}</p>
        <p>Teléfono: {{postulante.telefono}}</p>

        <p>
                <a href="{% url 'Mensaje' postulante.id %}">Enviar mensaje</a>
                <a href="{% url 'RequeridosDetalle' postulante.requerido_id %}">Volver</a>
        </p>

{%  endblock %}