{%  extends 'Postulantes/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>REQUERIDOS</title>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">REQUERIDOS</div>
<div class="masthead-subheading">Realice una búsqueda de personal</div>
{%  endblock %}

{% block contenido%}

<form method="post"> {% csrf_token %}

        <div class="text-center">
                <br><h4> ¿Estas seguro que quiere eliminar su postulación a <b>"{{ object.requerido.posicion }}"</b>? </h4>

                <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Borrar" />
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'MisPostulaciones' user.id%}">Cancelar</a>
        </div>

</form>
{%  endblock %}
