{%  extends 'Postulantes/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>REQUERIDOS</title>
{%  endblock    %}

{%  block link  %}
        <li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Postulantes' %}">Postulantes</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">REQUERIDOS</div>
<div class="masthead-subheading">Realice una búsqueda de personal</div>
{%  endblock %}

{% block boton %}
<a class="btn btn-primary btn-xl text-uppercase" href="{% url 'ReqFormulario' %}">CARGAR REQUERIDO</a>
{%  endblock    %}