{%  extends 'Perfiles/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>MI PERFIL</title>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">{{user.username}}</div>
<div class="masthead-subheading">Bienvenido a tu perfil</div>
{%  endblock %}

{% block contenido%}

<form method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}

        {{form.as_p}}

        <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Nueva">

</form>


{%  endblock %}
