{%  extends 'Perfiles/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>MENSAJES</title>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">{{user.username}}</div>
<div class="masthead-subheading">Tus mensajes</div>
{%  endblock %}


{% block contenido%}
<ul>
        <h4>Mensajes:</h4><br>
        {% for r in requerido %}

                <h5 style="background-color: #969696;">
                        De postulacion: {{ r.posicion }}  &nbsp
                        <a class="btn btn-primary btn-xl text-uppercase" href= "{% url 'MensjesDetalle' r.id %}">Ver</a>
                </h5><br>

        {% endfor %}
</ul>

{%  endblock %}
