{%  extends 'Perfiles/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>MENSAJES</title>
{%  endblock    %}

{%  block link  %}
<li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'BlogsList' %}">Novedades</a></li>
<li class="nav-item"><a class="nav-link-act" href= "#page-top">Mi Perfil</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">{{user.username}}</div>
<div class="masthead-subheading">Tus mensajes</div>
{%  endblock %}


{% block contenido%}
<ul>
        <h4>Mensajes:</h4><br>
        {% for r in requerido %}

                <h5 style="background-color: #969696;">
                        De postulacion: {{ r.posicion }}  &nbsp
                        <a class="btn btn-primary btn-xl text-uppercase" href= "{% url 'MensjesDetalle' forloop.counter0 %}">Ver</a>
                </h5><br>

        {% endfor %}
</ul>

<a style="width: 190px;" class="btn btn-primary btn-xl text-uppercase" href="{% url 'MiPerfil' %}">Volver</a>

{%  endblock %}
