{%  extends 'Perfiles/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>MI PERFIL</title>
{%  endblock    %}

{%  block link  %}
<li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'BlogsList' %}">Novedades</a></li>
<li class="nav-item"><a class="nav-link-act" href= "#page-top">Mi Perfil</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">{{user.username}}</div>
<div class="masthead-subheading">Bienvenido a tu perfil</div>
{%  endblock %}


{% block contenido%}

<ul>
        <h4>De postulacion : {{ mensaje.0.post.requerido.posicion}}</h4>

        <p><a class="btn btn-primary btn-xl text-uppercase" href= "{% url 'MensjesLista' 'a' %}">Mensajes</p></a><br>

        {% for m in mensaje %}

                <h6 style="background-color: #969696;">
                        De: {{m.de}}  para: {{m.para}} &nbsp
                
                        <a class="btn btn-primary btn-xl text-uppercase" href= "{% url 'Mensaje'  m.de_id m.post.requerido.id %}">Responder</a>
                </h6>

                <p style="text-indent: 40px;">{{m.mensaje}}</p><br>

        {% endfor %}
</ul>

<a style="width: 190px;" class="btn btn-primary btn-xl text-uppercase" href="{% url 'MiPerfil' %}">Volver</a>

{%  endblock %}
