{%  extends 'Requeridos/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>MI PERFIL</title>
{%  endblock    %}

{%  block link  %}
        <li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'MiPerfil' %}">Mi Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>


{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">{{user.username}}</div>
<div class="masthead-subheading">Bienvenido a tu perfil</div>
{%  endblock %}


{% block contenido%}

{% for r in requerido %}

        <h5>De postulacion: {{ r.posicion }}</h5>

        <p>
                <a href= "{% url 'MensjesDetalle' r.id %}">Ver</a>
                <a href= "{% url 'MiPerfil' %}">Volver</a>
        
        </p>

        <p style="border: ridge #41414e 1px;"></p>

{% endfor %}

{%  endblock %}
