{%  extends 'Perfiles/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>MI PERFIL</title>
{%  endblock    %}

{%  block link  %}
<li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Requeridos' %}">Requeridos</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'BlogsList' %}">Novedades</a></li>
<li class="nav-item"><a class="nav-link-act" href= "#page-top">Mi Perfil</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
<li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">{{user.username}}</div>
<div class="masthead-subheading">Bienvenido a tu perfil</div>
{%  endblock %}


{% block contenido%}

<div class="text-center">
        <p>
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'MisPostulaciones' user.id%}">Mis postulaciones</a>
                <a class="btn btn-primary btn-xl text-uppercase" href= "{% url 'EditarPerfil' %}">Editar Perfil</a>
                <a class="btn btn-primary btn-xl text-uppercase" href= "{% url 'MensjesLista' 'a' %}">Mensajes</a>
        </p>

        {% if  request.user.is_authenticated %}
                
                <p><img src="/media/{{Avatar.imagen }}" alt="Usted puede agregar una foto aquí" height="250"></p>

        {% endif %}

        <p><a class="btn btn-primary btn-xl text-uppercase" href="{% url 'CambiarFoto' %}">Cambiar Foto </a></p>

        <h5>Nombre: {{user.first_name}} {{user.last_name}}</h5>
        <p>Usuario: {{user.username}}</p>
        <p>eMail: {{user.email}}</p>
</div>

{%  endblock %}