{%  extends 'Requeridos/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>REQUERIDOS</title>
{%  endblock    %}


{%  block link  %}
<li class="nav-item"><a class="nav-link" href= "{% url 'Inicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link-act" href= '#page-top'>Requeridos</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'BlogsList' %}">Novedades</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'MiPerfil' %}">Mi Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'Logout' %}">Logout</a></li>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">REQUERIDOS</div>
<div class="masthead-subheading">Detalle del puesto y sus postulantes</div>
{%  endblock %}

{% block boton %}
<a class="btn btn-primary btn-xl text-uppercase" href="{% url 'PostulanteNuevo' requeridos.id %}">Postularse</a>
{%  endblock    %}

{% block contenido%}

<ul>
        <div class="text-center">

                <br><h4>Puesto:</h4><br>
                <h5>Posición: {{ requeridos.posicion }}</h5>
                <p>Sector: {{ requeridos.sector }}</p>
                <p>Descripción: {{ requeridos.descripcion }}</p>
                <p>Formación requerida: {{ requeridos.formacionReq }}</p>
                <p>Interno de la empresa: {{ requeridos.deLaEmpresa }}</p>
                <p>Propuesta monetaria: {{ requeridos.propMonetaria }}</p>
                <p>Fecha de publicación: {{ requeridos.fechaPublicacion }}</p>

                <p>
                        <a style="width: 190px;" class="btn btn-primary btn-xl text-uppercase" href="{% url 'RequeridosEditar' requeridos.id %}">Modificar</a>
                        <a style="width: 190px;" class="btn btn-primary btn-xl text-uppercase" href="{% url 'RequeridosBorrar' requeridos.id %}">Borrar</a>
                        <a style="width: 190px;" class="btn btn-primary btn-xl text-uppercase" href="{% url 'Requeridos' %}">Volver</a>
                </p><br><br><hr>

                <h4>Postulantes:</h4><br>

                {% for postu in requeridos.postulante_set.all %}

                        <h6>Nombre: {{postu.usuario.first_name}} {{postu.usuario.last_name}}</h6> 
                        <p>Formación: {{postu.formacion}}</p>
                        <p>Presentación: {{postu.presentacion}}</p>
                        <p><a class="btn btn-primary btn-xl text-uppercase" href="{% url 'PostulanteDetalle' postu.id %}">Detalle</a></p><br><hr>

                {% endfor %}

        </div>
</ul>

{%  endblock %}