{%  extends 'Requeridos/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>BORRAR REQUERIDO</title>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-subheading">Borrar puesto solicitado</div>
{%  endblock %}

{% block contenido%}

<form method="post"> {% csrf_token %}

        <div class="text-center">
                <br><h4> ¿Estas seguro que quiere eliminar el pedido de <b>"{{ object.posicion }}"</b>? </h4>

                <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Borrar" />
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'RequeridosDetalle' object.id %}">Cancelar</a>
        </div>

</form>
{%  endblock %}
