{%  extends 'Login/padre.html' %}

{%  load static %}

{%  block titulo    %}
        <title>LOGIN</title>
{%  endblock    %}

{% block presentacion %}
<div class="masthead-heading text-uppercase">Bienvenido GGL SOLUCIONES</div>
<div class="masthead-subheading">Modifica los datos de ingreso</div>
{%  endblock %}

{%  block contenido %}
<form action="" method="POST">

    {%  csrf_token  %}

    {{form.as_p}}

<input class="btn btn-primary btn-xl text-uppercase" type="submit" value="CONFIRMAR">


</form>
{%  endblock %}