{%  extends 'Login/padre.html' %}

{%  block titulo    %}
        <title>GGL SOLUCIONES</title>
{%  endblock    %}
{%  block link  %}

<li class="nav-item"><a class="nav-link" href= "{% url 'About' %}">About</a></li>

{%  endblock    %}

{%  load static %}



{% block boton %}
<a class="btn btn-primary btn-xl text-uppercase" href="{% url 'Login' %}">INGRESAR</a>
<a class="btn btn-primary btn-xl text-uppercase" href="{% url 'Register' %}">REGISTRARSE</a>
{%  endblock    %}


{% block presentacion %}
<div class="masthead-heading text-uppercase">Bienvenido GGL SOLUCIONES</div>
<div class="masthead-subheading">Para poder ingresar a la pagina, debera registrarse como usuario. Luego, podrá cargar sus datos para acceder a las postulaciones.</div>
{%  endblock %}